[user]
{{- if .omarchy }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
{{- else }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFvXhz410ivMF2aNynWTHVD/H/97qQworOFdArna8Brm
{{- end }}
	name = {{ .name }}
	email = {{ .email }}
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = prompt
[gpg]
  format = ssh
{{- if and (not .omarchy) (stat "/opt/1Password/op-ssh-sign") }}
[gpg "ssh"]
  program = /opt/1Password/op-ssh-sign
{{- end }}
[alias]
  # *********************
  # Rebase workflow
    mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
    synced = "!git pull origin $(git mainbranch) --rebase"
    update = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"
    squash = "!git rebase -v -i $(git mainbranch)"
    publish = push origin HEAD --force-with-lease
    pub = publish 
{{ if stat "/usr/bin/gh" -}}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ end -}}