{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
brew "jq"
brew "chezmoi"
brew "pinentry-mac"
cask "finicky"
cask "1password-cli"
cask "raycast"
brew "shellcheck"
brew "python"
brew "node"
brew "git-lfs"
brew "starship"
brew "lazygit"
cask "font-meslo-lg-nerd-font"
EOF

git lfs install
{{ end -}}
